# Unión de df´s

Aqui vamos a unir dos df´s sobretodo pensando en la subida de datos de sQL y para su mejor manejo.

In [1]:
import pandas as pd
import numpy as np

Anteriormente he creado un df de servicios con los record_id con este codigo :

In [2]:

#df_servicios_final_cleaned['record_id'] = df_servicios_final_cleaned['url'].apply(lambda link: link.split('/')[-1].split('?')[0])

Abrimos los df

In [3]:
df_servicios = pd.read_csv('C:/Users/peni_/Desktop/proyecto/Proyecto-Final-Bootcamp---Dream-Team/data/df_servicios_record_id.csv')
df_servicios.head()

,category,service,url,services,record_id
0,baño,secador de pelo,https://www.airbnb.es/rooms/126311759129279497...,secador de pelo,1263117591292794971
1,baño,productos de limpieza,https://www.airbnb.es/rooms/126311759129279497...,productos de limpieza,1263117591292794971
2,baño,champú,https://www.airbnb.es/rooms/126311759129279497...,champú,1263117591292794971
3,baño,gel de ducha,https://www.airbnb.es/rooms/126311759129279497...,gel de ducha,1263117591292794971
4,baño,agua caliente,https://www.airbnb.es/rooms/126311759129279497...,agua caliente,1263117591292794971

In [5]:
df_servicios.drop(["url", "services"], axis = 1, inplace = True)

df_servicios

,category,service,record_id
0,baño,secador de pelo,1263117591292794971
1,baño,productos de limpieza,1263117591292794971
2,baño,champú,1263117591292794971
3,baño,gel de ducha,1263117591292794971
4,baño,agua caliente,1263117591292794971
...,...,...,...
75051,aparcamiento e instalaciones,ascensorel alojamiento o edificio dispone de u...,14352069
75052,aparcamiento e instalaciones,aparcamiento de pago fuera de las instalaciones,14352069
75053,servicios,disponible para estancias largaspermite estanc...,14352069
75054,servicios,llegada autónoma,14352069
75055,servicios,caja de seguridad para llaves,14352069

In [37]:
df_category = pd.DataFrame(data = {num : category for num, category in enumerate(df_servicios["category"].unique(), start = 1)}.items(),
             columns = ["category_id", "category"])

df_service = pd.DataFrame(data = {num : service for num, service in enumerate(df_servicios["service"].unique(), start = 1)}.items(),
             columns = ["service_id", "service"])

df_category.shape, df_service.shape

((13, 2), (1143, 2))

In [38]:
df_category.head(3)

   category_id                 category
0            1                     baño
1            2  dormitorio y lavandería
2            3          entretenimiento

In [39]:
df_service.head(3)

   service_id                service
0           1        secador de pelo
1           2  productos de limpieza
2           3                 champú

In [40]:
df_service_record = df_servicios[["service", "record_id"]]
map_service = {s : id_ for id_, s in df_service.values}

df_service_record["service"] = df_service_record["service"].map(map_service)

df_service_record.head(3)

C:\Users\peni_\AppData\Local\Temp\ipykernel_27372\3497196516.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_service_record["service"] = df_service_record["service"].map(map_service)

   service            record_id
0        1  1263117591292794971
1        2  1263117591292794971
2        3  1263117591292794971

In [ ]:
df_category_service = df_servicios[["category", "service"]]
map_category = {s : id_ for id_, s in df_category.values}

df_category_service["category"] = df_category_service["category"].map(map_category)
df_category_service["service"] = df_category_service["service"].map(map_service)

df_category_service = df_category_service.drop_duplicates().reset_index(drop = True)
df_category_service.head(3)

C:\Users\peni_\AppData\Local\Temp\ipykernel_27372\3549252317.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_category_service["category"] = df_category_service["category"].map(map_category)
C:\Users\peni_\AppData\Local\Temp\ipykernel_27372\3549252317.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_category_service["service"] = df_category_service["service"].map(map_service)

      category  service
0            1        1
1            1        2
2            1        3
3            1        4
4            1        5
...        ...      ...
1145         5     1139
1146        11     1140
1147         6     1141
1148         3     1142
1149         6     1143

[1150 rows x 2 columns]

In [5]:
df = pd.read_csv('C:/Users/peni_/Desktop/proyecto/Proyecto-Final-Bootcamp---Dream-Team/data/df_final_cleaned.csv')
df.head()

,urls,timestamp,record_id,titles,host_name,property_types,prices_per_night,location,ratings,num_reviews,cleaning_fee,baños,maximum_guests,dormitorios,camas,check_in_hour,check_out_hour,total_hours_checkin
0,https://www.airbnb.es/rooms/125284963667401123...,2024-11-07 10:12:02,1252849636674011237,Reserva una (o más) camas en este dormitorio c...,Generator,Habitación,19.0,NaN,4.75,4.0,0.0,NaN,NaN,NaN,NaN,14:00,10:00,10.0
1,https://www.airbnb.es/rooms/128244586043482024...,2024-11-07 10:12:02,1282445860434820248,Te damos la bienvenida a este elegante apartam...,HostPro,Alojamiento entero,110.0,"Barcelona, Catalunya, España",0.00,0.0,60.0,1.0,NaN,2.0,3.0,15:00,11:00,9.0
2,https://www.airbnb.es/rooms/128028819924646861...,2024-11-07 10:12:02,1280288199246468615,Excelente y acogedor apartamento a solo '2 cam...,Lautaro Gaspar,Habitación,32.0,"Barcelona, Catalunya, España",0.00,0.0,0.0,NaN,NaN,NaN,1.0,16:00,11:00,8.0
3,https://www.airbnb.es/rooms/850684095339937556...,2024-11-07 10:12:02,850684095339937556,Desconecta de la rutina en este alojamiento a ...,Marta+Paul,Alojamiento entero,80.0,NaN,5.00,5.0,90.0,1.0,NaN,1.0,1.0,15:00,11:00,9.0
4,https://www.airbnb.es/rooms/127904085557632410...,2024-11-07 10:12:02,1279040855576324107,Este anfitrión tiene 979 evaluaciones de otros...,David,Habitación,46.0,"Barcelona, Catalunya, España",0.00,0.0,15.0,NaN,1.0,NaN,1.0,17:00,11:00,7.0

Quitamos de servicios las columnas que no nos interesan

In [6]:
df_servicios= df_servicios.drop('url', axis=1)

In [7]:
df_servicios= df_servicios.drop('category', axis=1)

In [8]:
df_servicios= df_servicios.drop('service', axis=1)

Creamos tantas columnas como services hay y las rellenamos en binario

In [9]:
# Crear una columna binaria para cada categoría
df_binaria = df_servicios.groupby(['record_id', 'services']).size().unstack(fill_value=0)

# Convertir cualquier valor mayor que 0 en 1
df_binaria = (df_binaria > 0).astype(int)

Unimos los dos df

In [10]:
# Realizar la unión de los dos DataFrames en base a la columna 'record_id'
df_all = pd.merge(df, df_binaria, on='record_id', how='inner')

df_all.head()

,urls,timestamp,record_id,titles,host_name,property_types,prices_per_night,location,ratings,num_reviews,...,tocadiscos,tostadora,trona,tv,utensilios básicos,utensilios de barbacoa,ventilador,videoconsola,wifi,zona para trabajar
0,https://www.airbnb.es/rooms/125284963667401123...,2024-11-07 10:12:02,1252849636674011237,Reserva una (o más) camas en este dormitorio c...,Generator,Habitación,19.0,NaN,4.75,4.0,...,0,0,0,0,0,0,0,0,1,0
1,https://www.airbnb.es/rooms/850684095339937556...,2024-11-07 10:12:02,850684095339937556,Desconecta de la rutina en este alojamiento a ...,Marta+Paul,Alojamiento entero,80.0,NaN,5.00,5.0,...,0,1,0,1,1,0,0,0,1,1
2,https://www.airbnb.es/rooms/127904085557632410...,2024-11-07 10:12:02,1279040855576324107,Este anfitrión tiene 979 evaluaciones de otros...,David,Habitación,46.0,"Barcelona, Catalunya, España",0.00,0.0,...,0,0,0,0,1,0,1,0,1,1
3,https://www.airbnb.es/rooms/117661123017813246...,2024-11-07 10:12:02,1176611230178132461,Desconecta de la rutina en este alojamiento ún...,Badajoz,Alojamiento entero,80.0,"Barcelona, Catalunya, España",0.00,0.0,...,0,1,0,1,1,0,0,0,1,0
4,https://www.airbnb.es/rooms/127903499538513735...,2024-11-07 10:12:02,1279034995385137358,Este alojamiento tiene una ubicación estratégi...,David,Habitación,56.0,"Barcelona, Catalunya, España",0.00,0.0,...,0,0,0,0,1,0,1,0,1,1

Guardamos el df en csv

In [11]:
df_all.to_csv('df_all.csv', index = False)

In [12]:
df_servicios

                                                services            record_id
0                                        secador de pelo  1263117591292794971
1                                  productos de limpieza  1263117591292794971
2                                                 champú  1263117591292794971
3                                           gel de ducha  1263117591292794971
4                                          agua caliente  1263117591292794971
...                                                  ...                  ...
75051                                           ascensor             14352069
75052                                       aparcamiento             14352069
75053  disponible para estancias largaspermite estanc...             14352069
75054                                   llegada autónoma             14352069
75055                      caja de seguridad para llaves             14352069

[75056 rows x 2 columns]